header{
    background-color: #ffffff;
    padding: 10px;
}
header #logo img{
    height: 35px;
    width: 35px;
}
header #logo label{
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
}
header #UsersData{
    float: right;
    padding: 0px;
    display: grid;
}
header #UsersData #sub-Label{
    opacity: 0.7;
    text-align: right;
}
header .menu{
    float: left;
    display: none;
}
header .menu div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
nav{
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    padding: 0;
    width: 12%;
}
nav a{
    display: flex;
    padding: 8px;
    cursor: pointer;
    padding: 10px;
    padding-right: 50px;
    padding-left: 12px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    background-color: #bbb;
    opacity: 0.7;
}
main{
    margin-left: 12%;
    background-color: none;
}
main #Class-list{
    width: auto;
    padding: 20px;
}
main #Class-list .items{
    padding: 12px;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    display: -webkit-flex;
    margin: 0px;
    cursor: pointer;
    background-color: #ffffff;
}
main .list_header{
    padding: 20px;
    padding-left: 30px;
    display: -webkit-flex;
    font-weight: bold;
    margin-bottom: -20px;
    cursor: default;
}
a{
    text-decoration: none;
    color: black;
}
main #CLass-list .items .links{
    display: flex;
    border: none;
    padding: 10px;   
}
main #Class-list .items .links:hover{
    opacity: 5;
}
main #Class-list .items:hover{
    opacity: 0.8;
}
@media only screen and (max-width: 1000px) {
  nav{
    display: none;
  }
  main{
      margin-left: 0%;
  }
  header .menu{
      display: block;
      margin-right: 8px;
  }
}
