.dashboard{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f2f2f2;
	width: 85%;
	height: 85%;
}
.dashboard header{
	background-color: #f2f2f2;
	padding: 8px;
}
.dashboard .label{
	font-weight: bold;
}
.dashboard main{
	background-color: #f2f2f2;
	width: 100%;
	padding: 0;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
	height: 85%;
}
.dashboard main nav{
	padding: 0;
	display: flex;
}
.dashboard main nav a{
	padding: 15px;
	cursor: pointer;
}
.dashboard main nav a:hover{
	opacity: 0.6;
	color: rgb(108, 108, 170);
}
.dashboard main .Assessment{
	padding: 15px;
	height: auto;
}
.dashboard main .Assessment .buttons{
	border: 2px solid whitesmoke;
	padding: 15px;
	background-color: white;
	text-align: center;
	cursor: pointer;
}
.dashboard main .Assessment .buttons:hover{
	opacity: 0.6;
}
.dashboard main .tabContents{
	display: none;
	height: 100%;
	padding: 15px;
}
.dashboard main .tabContents .buttons{
	background-color: white;
	padding: 15px;
	text-align: left;
	margin-top: 5px;
	cursor: pointer;
}
.dashboard main .tabContents .buttons:hover{
	opacity: 0.7;
}
.back_button a{
	position: absolute;
	padding: 15px;
	text-decoration: none;
	color: black;
}
a{
	text-decoration: none;
	color: black;
}

