main{
  background-color: #ffffff;
}
header{
  background-color: #ffffff;
  font-size: 20px;
}
table{
  border-collapse: collapse;
  width: 100%;
}
table tr th{
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid whitesmoke;
}
table tr th, td{
  padding: 0px;
  font-size: 14px;
}
table tr:nth-child(even){background-color: #f2f2f2;}

.insertCourseModal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  display: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 4px;
}
.insertCourseModal input, textarea{
  outline: none;
  border: 1px solid black;
  margin: 5px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid rgb(133, 133, 196);
}

/* BUTTONS */
.majorButtons{
  color: white;
  border: none; 
  padding: 6px; 
  background-color: rgb(133, 133, 196); 
  outline: none; 
  border-radius: 3px; 
  cursor: pointer;
}


@media screen and (max-width: 1000px) {
  header{
    background-color: #ffffff;
    font-size: 1.8vh;
  }
}


/*TABLE*/
table #CC{
  padding: 12px; 
  width: 10%;
  text-align: left;
}
table #description{
  width: 50%;
}
table #unit{
  text-align: center;
}
table .tableItemss{
  background-color: #f2f2f2; 
  padding: 8px; 
  text-align: left;
 }
table .tableItemsAlter{
   padding: 8px; 
   background: none; 
   padding: 8px;
 }
.courseIntro{
  border-bottom: 1px solid whitesmoke;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  margin: 0px;
  font-size: small;
  letter-spacing: 0.5px;
  line-height: 18px;
}
#uploadingStatus{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  display: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
}