main{
	margin-left: 12%;
	font-family: 'Montserrat', sans-serif;
}
nav header{
	font-weight: bold;
	text-align: center;
}
nav button{
	display: block;
	width: 100%;
	background: none;
	border: none;
	text-align: left;
	padding: 15px;
	outline: none;
	opacity: 0.6;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
nav #logoutBtn{
	color: red;
}
nav #logoutBtn:hover{
	border: none;
	opacity: 1;
}
nav button:hover{
	opacity: 0.9;
	font-weight: bold;
	border-left: 3px solid rgb(150, 150, 247);
}
nav .active{
	opacity: 0.9;
	font-weight: bold;
	border-left: 3px solid rgb(150, 150, 247);
}

main .active header{
	background-color: none;
	font-weight: bold;
	cursor: default;
	font-size: 20px;
	width: 100%;
	position: relative;
}
main .active{
	background-color: #ffffff;
	display: block;
	font-size: medium;
}
main .content{
	padding: 0px;
	margin: 0px;
	display: none;
}
main .active .main-content{
	padding: 15px;
}
main .active .main-content .items{
	padding: 8px;
	margin: 5px;
	opacity: 0.9;
	font-weight: bold;
	border: 1px solid whitesmoke;
}
main .active .main-content .items:hover{
	opacity: 1;
	background-color: #f2f2f2;
}

